# deps
node_modules/
.pnpm-store/

# env & secrets
.env
.env.*
!.env.example

# builds
.next/
out/
dist/
build/
.expo/
*.tsbuildinfo

# supabase local
packages/db/supabase/.branches/
packages/db/supabase/.temp/

# os / editor
.DS_Store
*.log
